.timeline_date {
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    background: #2c3e50;
}
.timeline_divider {
    border: 2px solid white;
    border-radius: 2px;
}
.timeline_divider_row {
    height: 5px;
    background-color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}
.timeline_top_row {
    height: 150px;
}
.timeline_content {
    padding-left: 10px;
    padding-right: 10px;
}